<script src="/static/js/jquery-2.1.0.min.js"></script>
<script src="/static/js/stock/highstock.js"></script>
<script src="/static/js/stock/modules/exporting.js"></script>

<div id="stock_panel" class="stock-body" style="width:100%;height:314px"></div>

<script type="text/javascript">
$(function(){
        var chartDataUrl = "{% url 'webapp:weathersample' %}";
        $.getJSON(chartDataUrl,
            function(data) {
        // Create the chart
        $('#stock_panel').highcharts('StockChart', {

            rangeSelector : {
                selected : 1,
                inputEnabled: $('#stock_panel').width() > 480
            },

            title : {
                text : 'fish Price'
            },

            series : [{
                name : 'chart_data',
                data : data,
                tooltip: {
                    valueDecimals: 2
                }
            }]
        });
    });

});

</script>